target/

/Controller/**/*_MANAGED.rul
/Controller/**/*_MANAGED.txt

*.dat
*.mo
*.bak
Controller/RUL0/5000_RHW/5300_Transitions.txt
Controller/RUL0/7000_Road_NWM/7D00_FractionalAngledStreets.txt
Controller/RUL1/01_Road/04_Road_Street.txt
Controller/RUL1/01_Road/08_Road_OneWayRoad.txt
Controller/RUL1/05_Avenue/09_Avenue_Dirtroad.txt
Controller/RUL2/05_FA_WRC/Sec5a_FA_Street.txt
Controller/RUL2/07_RHW/Sec7h_FlexHT-OST/Sec7h4_FlexHT_Diagonal_Variants.txt
Controller/RUL1/05_Avenue/09_Avenue_Dirtroad.txt
Controller/RUL1/05_Avenue/09_Avenue_Dirtroad.txt
Controller/RUL2/08_NWM/Sec8k_NWM_OWR_MRC.txt
Controller/INRULs/RULConfig.txt
Sec7i_FLEXRamp-V2.txt
Controller/INRULs/RULConfig.txt
Controller/INRULs/RULConfig.txt
*.json
